# Libraries

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
warnings.filterwarnings("ignore")

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, f1_score, recall_score

In [11]:
df  = pd.read_csv('Heart_Attack_Risk_Levels_Dataset.csv')

In [12]:
df.head()

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin,Result,Risk_Level,Recommendation
0,63,1,66,160,83,160.0,1.80,0.012,negative,Moderate,Monitor closely and consult doctor
1,20,1,94,98,46,296.0,6.75,1.060,positive,High,Immediate medical attention
2,56,1,64,160,77,270.0,1.99,0.003,negative,Moderate,Monitor closely and consult doctor
3,66,1,70,120,55,270.0,13.87,0.122,positive,High,Immediate medical attention
4,54,1,64,112,65,300.0,1.08,0.003,negative,Moderate,Monitor closely and consult doctor

In [13]:
df.shape

(1319, 11)

 Check Duplicates values üéà

In [14]:
df.duplicated().sum()

0

 Check Null values üéà

In [15]:
df.isnull().sum()

Age                         0
Gender                      0
Heart rate                  0
Systolic blood pressure     0
Diastolic blood pressure    0
Blood sugar                 0
CK-MB                       0
Troponin                    0
Result                      0
Risk_Level                  0
Recommendation              0
dtype: int64

 Data Summarize üéà

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1319 non-null   int64
 1   Gender                    1319 non-null   int64
 2   Heart rate                1319 non-null   int64
 3   Systolic blood pressure   1319 non-null   int64
 4   Diastolic blood pressure  1319 non-null   int64
 5   Blood sugar               1319 non-null   float64
 6   CK-MB                     1319 non-null   float64
 7   Troponin                  1319 non-null   float64
 8   Result                    1319 non-null   object
 9   Risk_Level                1319 non-null   object
 10  Recommendation            1319 non-null   object
dtypes: float64(3), int64(5), object(3)
memory usage: 113.5+ KB

 Check Statistical Summary üéà

In [17]:
df.describe()

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin
count,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000
mean,56.193328,0.659591,78.336619,127.170584,72.269143,146.634344,15.274306,0.360942
std,13.638173,0.474027,51.630270,26.122720,14.033924,74.923045,46.327083,1.154568
min,14.000000,0.000000,20.000000,42.000000,38.000000,35.000000,0.321000,0.001000
25%,47.000000,0.000000,64.000000,110.000000,62.000000,98.000000,1.655000,0.006000
50%,58.000000,1.000000,74.000000,124.000000,72.000000,116.000000,2.850000,0.014000
75%,65.000000,1.000000,85.000000,143.000000,81.000000,169.500000,5.805000,0.085500
max,103.000000,1.000000,1111.000000,223.000000,154.000000,541.000000,300.000000,10.300000

 Check Correlation üéà

In [18]:
df.corr(numeric_only=True)

TypeError: corr() got an unexpected keyword argument 'numeric_only'

In [ ]:
df.columns

# EDA

-  Exploratory Data Analysis (Data Visualization) üéà

In [ ]:
df.head()

 Check Distribution of Recommendation Column üéà

In [ ]:
df['Recommendation'].value_counts().plot(kind='pie', autopct='%.2f', shadow=True, explode=[0,0,0.1],
                                        colors=['hotpink', 'teal', 'steelblue'], figsize=(9,6))
plt.title('Distribution Of Recommendation', fontsize=15)
plt.show()

 Check Distribution of Risk Level Column üéà

In [ ]:
df['Risk_Level'].value_counts().plot(kind='pie', autopct='%.2f', shadow=True, explode=[0,0.1,0],
                                        colors=['gray', 'orange', 'tomato'], figsize=(9,6))
plt.title('Distribution Of Risk Level', fontsize=15)
plt.show()

 Check Distribution of Result Column üéà

In [ ]:
sns.set_style('darkgrid')
plt.figure(figsize=(11,6))
sns.countplot(x=df['Result'], palette='mako')
plt.title('Distribution Of Result', fontsize=15)
plt.xlabel('Result', fontsize=13)
plt.ylabel('Count', fontsize=13)
plt.show()

 Check Distribution of Result Column with Genderüéà

In [ ]:

plt.figure(figsize=(11,6))
sns.countplot(x=df['Result'], palette='jet_r', hue=df['Gender'])
plt.title('Result Vs Gender', fontsize=15)
plt.xlabel('Result', fontsize=13)
plt.ylabel('Count', fontsize=13)
plt.show()

 Check Distribution Numerical Columns (histplot) üéà

In [ ]:
columns = ['Age', 'Gender', 'Heart rate', 'Systolic blood pressure',
       'Diastolic blood pressure', 'Blood sugar', 'CK-MB', 'Troponin']

plt.figure(figsize=(14,12))
for i, col in enumerate(columns):
    plt.subplot(4, 2, i + 1)
    sns.histplot(data=df, x=col, kde=True, color='brown')
    plt.title(f'Distribution of {col}', fontsize=15)
    plt.tight_layout(pad=3.0)

plt.show()

 Scatterplot of Age vs Heart Rate with Result üéà

In [ ]:
plt.figure(figsize=(11,6))
sns.scatterplot(x=df['Age'], y=df['Heart rate'], s=120, alpha=0.8, hue=df['Result'], palette='magma')
plt.title('Age Vs Heart Rate With Result', fontsize=15)
plt.xlabel('Age', fontsize=13)
plt.ylabel('Heart Rate', fontsize=13)
plt.show()

 Scatterplot of Systolic blood pressure vs Diastolic blood pressure with Result üéà

In [ ]:
plt.figure(figsize=(11,6))
sns.scatterplot(x=df['Systolic blood pressure'], y=df['Diastolic blood pressure'], s=120, alpha=0.8,
                hue=df['Result'], palette='summer')
plt.title('Systolic blood pressure Vs Diastolic blood pressure With Result', fontsize=15)
plt.xlabel('Systolic blood pressure', fontsize=13)
plt.ylabel('Diastolic blood pressure', fontsize=13)
plt.show()

 Check Correlation of Numerical Columns üéà

In [ ]:
plt.figure(figsize=(11,6))
sns.heatmap(df.corr(numeric_only=True), cmap='jet', annot=True)
plt.title('Correlation of Numerical Features', fontsize=15)
plt.show()

# Encoding Categorical Features

In [ ]:
encoder = LabelEncoder()
for c in ['Result', 'Risk_Level', 'Recommendation']:
    df[c] = encoder.fit_transform(df[c]) # Result- 0: Negative, 1: Positive

 Data Split into Training and Testing Sets üéà

In [ ]:
X = df.drop('Result', axis=1)
y = df['Result']

X_train,X_test, y_train,y_test = train_test_split(X,y , test_size=0.2)
print(f"X_train Shape: {X_train.shape}")
print(f"Y_train Shape: {y_train.shape}")
print(f"X_test Shape: {X_test.shape}")
print(f"y_test Shape: {y_test.shape}")

# Models Building

 1- Logistic Regression üéà    
 2- Random Forest Classifier üéà       
 3- Gradient Boosting Classifier üéà    
 4- Naive Bayes üéà      
 5- Decision Tree Classifierüéà

In [ ]:
models = {
    "Logistic Regression": LogisticRegression(),
    "Random Forest Classifier": RandomForestClassifier(),
    "Gradient Boosting Classifier": GradientBoostingClassifier(),
    "Naive Bayes": GaussianNB(),
    "Decision Tree Classifier": DecisionTreeClassifier()
}

Models Training and Prediction, Calculate accuracy Score, and ------ üéà

In [ ]:
summary = []
for names, model in models.items():
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    accuracy = accuracy_score(y_test, preds)
    p = precision_score(y_test, preds)
    r = recall_score(y_test, preds, average='macro')
    f = f1_score(y_test, preds,  average='macro')
    print(f"\n‚≠êName: {names}")
    print(f"Accuracy: {accuracy:.2f}")
    print(f"Precision Score: {p}")

    plt.figure(figsize=(6, 4))
    cm  = confusion_matrix(y_test,preds)
    sns.heatmap(cm, annot=True, cmap='jet_r')
    plt.title(f"{names}-  Confution Metrics ")
    plt.xlabel('Predicted')
    plt.ylabel('True')
    plt.tight_layout()
    plt.show()

    summary.append({
        'Model Name': names,
        'Test Accuracy': accuracy,
        'Test Precision': p,
        'Test Recall Score': r,
        'Test F1 Score': f

    })
    summary_df = pd.DataFrame(summary)

# Show all model evaluation metrics in one table
print("\n‚≠ê Summary:")
summary_df

# Summary

 summary show in graph üéà

In [ ]:
plt.figure(figsize=(12, 6))
sns.barplot(data=summary_df, x='Model Name', y='Test Accuracy', palette='crest')
plt.title("Model Accuracy Comparison")
plt.ylabel("Accuracy")
plt.xticks(rotation=45)
plt.show()